html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.nav {
    background-color: #373A36;
    height: 95px;
    width: 100%;
}

.footer {
    background-color: #373A36;
    height: 95px;
    width: 100%;
}


.button {
    border: 1px black solid;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 102px;
    padding-right: 102px;
}

.is-dark {
   background-color: #373A36;
   color: white;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(83, 82, 82);
}

.header {
    padding-left: 160px;
    padding-bottom: 176px;
    padding-top: 150px;
    background-color: #E0BDBB;
    color: white;
}

.header h1 {
    font-size: 110px;
    font-style: italic;
    margin: 0;
}